#contact-form-cont {
    padding: 2rem 0;
    width: 100%;
}


@media only screen and (min-width: 1200px) {


    #contact-form-cont {
        border-left: 0.1px solid rgba(170, 170, 170, 0.103);
        border-right: 0.1px solid rgba(170, 170, 170, 0.103);
        width: 75rem;
    }

}