

#displayall-cont {
    width: 100vw;
    line-height:1.6rem;
    flex-direction: column;
    padding: 1rem;

    
    #display-filter {
        width: 100%;
        background-color: var(--bgColor2);
        padding: 1rem;
        margin-bottom: 1rem;
        color: var(--color-primary);
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0.5rem;

        h1 {
            font-weight: 1000;
            margin-left: 0.25rem;
            margin-bottom: 1rem;
            font-size: 1.25rem;
        }

        #filter {
            > select {
                margin-left: 0.25rem;
                color: var(--color-primary);
                padding: 0.25rem 0.5rem;
            }
        }


    }

    #display-element-cont {
        width: 100%;
        flex-direction: column;
        padding: 4rem 0.75rem;
        margin-bottom: 2rem;
        background-color: var(--bgColor2);
        border-radius: 0.5rem;
        position: relative;

        #delete-btn {
            position: absolute;
            top: 0.5rem;
            right: 0.75rem;
            font-size: 1.25rem;
            color: var(--color-primary);
        }

        #thumbnail {
            
            width: 80%;
            img {
                max-width: 100%;
                max-height: 15rem;
                object-fit: scale-down;
                border-radius: 0.5rem;
            }

        }
    
        #details-cont {
            margin-top: 1rem;
            width: 100%;
            flex-direction: column;

            #details {

               h1 {
                margin-bottom: 2rem;
                font-size: 1.25rem;
                
                > a {
                    color: var(--color-primary);
                }
               }

               > a {
                    display: block;
                    color: var(--textColor1);
                    font-size: 0.9rem;
                    
                    &:hover {
                        cursor: pointer;
                        color: var(--color-primary);
                    }

                    > i {
                        margin-right: 1rem;
                    }

               }

               width: 90%;
               padding-bottom: 1rem;
               margin-bottom: 1rem;
               border-bottom: 1px solid var(--shadow-line-b);
               padding-top: 1rem;
               margin-top: 1rem;
               border-top: 1px solid var(--shadow-line-b);
            }
    
            #description {
                width: 90%;
                flex-direction: column;
                align-items: flex-start;
                color: var(--textColor1);

                p {
                    font-size: 0.9rem;
                    max-height: 13rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0.5rem;
                }

                span {
                    color: var(--color-primary);
                }
            }
        }

    }

    #pager {

        column-gap: 0.5rem;

        button {
            padding: 0.15rem 0.25rem;
        }

        .prev, .next {
            padding: 0.15rem 0.5rem;
        }
    }
}

@media only screen and (min-width: 760px ) {

    #displayall-cont {

        width: 50rem;

        #display-filter {
            padding: 2rem;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;

            h1 {
                margin-left: 1rem;
                font-size: 2rem;
            }
    
            #filter {
    
                > select {
                    margin-right: 1rem;
                }
            }
        }

        #display-element-cont {
            flex-direction: row;
            height: 28rem;
            padding: 2rem;

            #delete-btn {
                top: 0.75rem;
                right: 1rem;
                font-size: 2rem;
            }

            #thumbnail {
                flex: 1.25;
                img {
                    max-height: 18rem;
                }
            }

            #details-cont {
                flex: 2;
                #details {
                    border: none;
                    
                    h1 {
                        font-size: 2rem;
                    }

                    > a {
                        font-size: 1.1rem;
                    }
                }

                #description {

                    p {
                        max-height: 6.4rem;
                        font-size: 1.1rem;
                    }
                }
            }
        }

        #pager {
    
            .prev, .next {
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}


@media only screen and (min-width: 1200px ) {

    #displayall-cont {
        width: 75rem;
        padding: 2rem;
        border-left: 0.1px solid rgba(170, 170, 170, 0.103);
        border-right: 0.1px solid rgba(170, 170, 170, 0.103);
        width: 75rem;

        #display-element-cont {
            #delete-btn {
                top: 1rem;
            }
        }

    }
}