

#display-cont-parent {
    width: 100vw;
    padding: 1rem;
    background-color: var(--white);
    padding: 2rem 0;
    color: var(--light-text);
    #display-cont {
        flex-direction: column;
        padding: 1rem;
        line-height: 1.4;
        width: 100%;

        #display-intro {
            width: 100%;
            flex-direction: column;
            
            #display-thumbnail {
                width: 100%;

                img {
                    object-fit: contain;
                    max-width: 90%;
                    max-height: 12rem;
                    border-radius: 1rem;
                }
            }

            #display-details-cont {
                width: 100%;
                border-top: 0.5px solid var(--shadow-line-b);
                flex-direction: column;
                align-items: flex-start;
                padding: 1rem;
                margin-top: 2rem;

                > h1 {
                    margin-bottom: 2rem;
                    color: var(--color-primary);
                }

                #display-details {

                    > p {
                        margin-bottom: 0.75rem;
                    }

                    #website {

                        a {
                            text-decoration: underline;
                        }
                    }
                }

                #display-contacts {
                    
                    > p {
                        margin-bottom: 0.75rem;
                    }

                    margin-bottom: 1rem;
                }
            }
        }

        #display-about-cont {
            width: 100%;
            flex-direction: column;
            padding: 1rem;
            align-items: flex-start;
            
            > h1 {
                width: 100%;
                margin-bottom: 2rem;
                color: var(--color-primary);
                border-bottom: 1px solid black;
            }

            #display-about {
                width: 100%;
                white-space: pre-line;
            }
        }
    }
}
    

@media only screen and (min-width: 760px ) {

    #display-cont-parent {

        #display-cont {
            line-height: 1.6;

            #display-intro {
                width: 100%;
                flex-direction: row;
                height: 27rem;

                #display-thumbnail {
                    flex: 1.5;

                    img {
                        border-radius: 1rem;
                        max-width: 30rem;
                        max-height: 25rem;
                    }
                }

                #display-details-cont {
                    flex: 1;
                    border-top: none;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 1rem;
                    padding-left: 3rem;
                    margin-top: 2rem;

                    > h1, #display-details {
                        width: fit-content;
                    }

                    > h1 {
                        margin-bottom: 2rem;
                    }

                    #display-details {
                        margin-bottom: 2rem;
                        
                    }
                }
            }

            #display-about-cont {
                align-items: center;
            }
        }
    }
}


@media only screen and (min-width: 1200px) {/* 75rem */ 
    #display-cont-parent {
        border-left: 0.1px solid rgba(170, 170, 170, 0.2);
        border-right: 0.1px solid rgba(170, 170, 170, 0.2);
        width: 75rem;
        
        #display-cont {
            
            #display-about-cont {
                width: 90%;
            }
        }
    }
}