

#display-cont-parent {
    width: 100vw;
    padding: 0.5rem;

    #display-cont {
        position: relative;
        flex-direction: column;
        padding: 1rem 0.5rem;
        width: 95%;
        border-radius: 0.5rem;
        background-color: var(--bgColor2);

        #delete-btn {
            position: absolute;
            top: 0.5rem;
            right: 0.75rem;
            font-size: 1.25rem;
            color: var(--color-primary);
        }

        #display-intro {
            width: 100%;
            flex-direction: column;
            
            #display-thumbnail {
                width: 100%;

                img {
                    object-fit: contain;
                    max-width: 90%;
                    max-height: 12rem;
                    border-radius: 1rem;
                }
            }

            #display-details-cont {
                width: 100%;
                border-top: 0.5px solid var(--shadow-line-b);
                flex-direction: column;
                align-items: flex-start;
                padding: 1rem;
                margin-top: 2rem;

                > h1 {
                    margin-bottom: 2rem;
                    color: var(--color-primary);
                    font-size: 1.25rem;
                }

                #display-details {
                    color: var(--textColor1);
                    
                    > p {
                        margin-bottom: 0.75rem;
                        font-size: 0.9rem;

                        > i {
                            margin-right: 1.25rem;
                        }
                        
                    }

                    #website {

                        a {
                            color: var(--textColor1);
                            font-style: italic;
                            color: var(--color-primary);
                        }
                    }
                }

                #display-contacts {
                    color: var(--textColor1);

                    > p {
                        margin-bottom: 0.75rem;
                        font-size: 0.9rem;

                        > i {
                            margin-right: 1.25rem;
                        }
                        
                    }

                    margin-bottom: 1rem;
                }
            }
        }

        #display-about-cont {
            width: 100%;
            flex-direction: column;
            padding: 1rem;
            align-items: flex-start;
            
            > h1 {
                width: 100%;
                margin-bottom: 2rem;
                color: var(--color-primary);
                border-top: 1px solid var(--textColor1);
                font-size: 1.25rem;
                padding-top: 1rem;
            }

            #display-about {
                font-size: 0.9rem;
                width: 100%;
                white-space: pre-line;
                color: var(--textColor1);
            }
        }
    }
}
    

@media only screen and (min-width: 760px ) {

    #display-cont-parent {
        padding: 2rem;

        #display-cont {
            padding: 1.5rem;
            line-height: 1.6;

            #delete-btn {
                top: 0.75rem;
                right: 1rem;
                font-size: 2rem;

                &:hover {
                    cursor: pointer;
                }
            }

            #display-intro {
                width: 100%;
                flex-direction: row;
                height: 27rem;

                #display-thumbnail {
                    flex: 1.5;

                    img {
                        border-radius: 1rem;
                        max-width: 30rem;
                        max-height: 25rem;
                    }
                }

                #display-details-cont {
                    flex: 1;
                    border-top: none;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 1rem;
                    padding-left: 3rem;
                    margin-top: 2rem;

                    > h1, #display-details {
                        width: fit-content;
                    }

                    > h1 {
                        margin-bottom: 2rem;
                        font-size: 2rem;
                    }

                    #display-details {
                        margin-bottom: 2rem;
                        font-size: 1.1rem;

                        > p {
                            font-size: 1.1rem;
                        }

                        #website {

                            > a {

                                &:hover {
                                    cursor: pointer;
                                    color: var(--color-primary);
                                }
                            }
                        }
                    }

                    #display-contacts {
    
                        > p {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            #display-about-cont {
                align-items: center;
                
                > h1 {
                    font-size: 2rem;
                }

                #display-about {
                    font-size: 1.1rem;
                }
            }
        }
    }
}


@media only screen and (min-width: 1200px) {/* 75rem */ 
    #display-cont-parent {
        border-left: 0.1px solid rgba(170, 170, 170, 0.103);
        border-right: 0.1px solid rgba(170, 170, 170, 0.103);
        width: 75rem;

        #display-cont {

            #delete-btn {
                top: 1rem;
            }
            
            #display-about-cont {
                width: 90%;
            }
        }
    }
}