
// Nav Bar

#nav-bar-cont {
	position: sticky;
	top: 0;
	z-index: 4;
	width: 100vw;
	padding: 0.25rem;
	background-color: var(--white);
	border-bottom: 0.5px solid var(--shadow-line-b);

	#nav-bar {
		display: none;
	}

	#nav-bar-mobile {
		display: flex;
		width: 100%;
		height: 4rem;
		position: relative;
		justify-content:  space-between;


		> a {
			position: absolute;
			left: 1rem;

			.logo {
				width: 5rem;
	
				img {
					width: 100%;
				}
			}
		}
		

		.open-close {
			position: absolute;
			right: 1rem;
			width: 5rem;
			color: var(--color-primary);
			font-size: 3rem;
		}
	}
}

// burg-menu

#burg-menu {
	display: flex;
	position: fixed;
	border-top: 1rem solid var(--color-primary);
	top: 4.25rem;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--white-y);
	z-index: 6;

	.menus1 {
		width: 12rem;
		padding: 2rem 1rem;
		position: absolute;
		top: 0;
		flex-direction: column;
		color: var(--black);
		text-align: center;
		
		.menu {
			padding: 1rem;
			width: 100%;

			.item {
				text-decoration: none;
				color: var(--black);

				&:hover {
					color: var(--color-primary);
					cursor: pointer;
					text-decoration: underline;
					text-underline-offset: 5px;
				}
			}

			// delete after ^ completed ( .item > all )
			&:hover {
				color: var(--color-primary);
				cursor: pointer;
				text-decoration: underline;
				text-underline-offset: 5px;
			}
			
		}
	}

	.menus2 {
		width: 100%;
		width: 100%;
        padding: 2rem;
        min-height: 3rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: var(--black);
		position: absolute;
		bottom: 12rem;

		.apps {
			font-size: 1.25rem;
			column-gap: 1rem;

			> a {
				text-decoration: none;
				color: var(--color-primary);

				&:hover {
					cursor: pointer;
				}
			}

			.donate-btn {
				font-size: 0.85rem;
			}
			
		}

		.donate-btn {

			border: 1px solid var(--color-primary);
			padding: 0.2rem 0.7rem;
			border-radius: 1rem;
			text-decoration: none;
			color: var(--color-primary);

			&:hover {
				cursor: pointer;
			}

			> i {
				margin-left: 0.5rem;
			}
		}

		.socials {
			font-size: 1.25rem;
			padding-right: 0.5rem;
			column-gap: 1rem;

			> a {
				text-decoration: none;
				color: var(--color-primary);

				&:hover {
					cursor: pointer;
				}
			}
		}

		
	}
}


@media only screen and (min-width: 768px) { /* 48rem */ 

	#burg-menu {

		.menus1 {
			right: 2rem;
			text-align: left;
		}

		.menus2 {
			.apps, .socials {
				font-size: 2.5rem;
				column-gap: 2rem;
				padding-right: 1rem;
			}

			.donate-btn {
				font-size: 1.2rem;
			}
		}
	}
}


@media only screen and (min-width: 1200px) { /* 75rem */

	#nav-bar-cont {

		#nav-bar {
			display: block;
			position: sticky;
			top: 0;
			right: 0;
			padding: 1rem;

		// nav-bar1
		#nav-bar1 {
			width: 100%;
			color: var(--black);

			>.empty {
				width: 30%;
			}

			#nav-bar1-menu {
				width: 70%;
				display: flex;
				justify-content: space-between;

				.resources {
					display: flex;
					width: 75%;
					justify-content: space-around;
					text-decoration: none;

					> a {
						text-decoration: none;
						color: var(--black);

						&:hover {
							cursor: pointer;
							color: var(--color-primary);
						}

						p {
							font-size: 0.85rem;
						}
					}
					
				}

				.socials {
					display: flex;
					font-size: 1.5rem;
					width: 25%;
					column-gap: 1rem;
					justify-content: flex-end;
					padding-right: 2rem;

					> li {
						a {
							text-decoration: none;
							color: var(--black);
							
							&:hover {
								cursor: pointer;
								color: var(--color-primary);
							}
						}
					}
				}

			}
		}

		// nav-bar2
		#nav-bar2 {
			width: 100%;
			display: flex;

			// logo
			.logo {
				width: 6.5rem;
				margin-right: 2rem;
				
				&:hover {
					cursor: pointer;
				}

				img {
					width: 100%;
				}
			}

			// dropdown
			#nav-bar2-drpdwns {
				width: 85%;
				justify-content: space-around;

				.nav-bar2-drpdwn {
					height: 3rem;
					position: relative;
					display: flex;
					width: 12rem;
					padding: 0;

					&:hover {
						cursor: pointer;

						.nav-bar2-drpdwn-menu { 
                            border-bottom: 1px solid var(--color-primary);
                        }

						.nav-bar2-drpdwn-menu-options {
							display: block;
						}
					}

					> a {
						width: 100%;

						.nav-bar2-drpdwn-menu {
							width: 90%;
							height: 100%;
							justify-content: flex-start;
							padding-left: 10px;
							border-bottom: 1px solid var(--light-text);
							color: var(--black);

							h3 {
								font-size: 1rem;
								font-weight: bolder;
							}
						}
					}

					.nav-bar2-drpdwn-menu-options {
						padding: 2rem 0 0 0;
						top: 3rem;
						left: 0;
						display: none;
						position: absolute;
						z-index: 1;
						min-width: 14rem;
						max-height: 12rem;
						background-color: var(--white);

						> a {
							display: inline-block;
							width: 90%;
							min-height: 2rem;
							max-height: fit-content;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							font-size: 0.9rem;
							padding-left: 0.5rem;
							color: var(--black);
							
							>p {
								padding: 4px;
								font-size: 0.9rem;
								font-weight: 500;
							}

							&:hover {
								cursor: pointer;

								p {
									color: var(--color-primary);
									font-style: italic;
								}
							}
								
						}

					}


				}
			}
		}
		}

		#nav-bar-mobile {
			display: none;
		}
	}

}




// @media only screen and (max-width: 1200px) { /* 48rem */
//     /* phones */

//     #nav-bar-cont {
//         width: 100vw;
//         padding: 1rem;

//         #nav-bar {
//             display: none;
//         }
        
        // #nav-bar-mobile {
        //     display: flex;
        //     width: 100vw;
        //     height: 4rem;
        //     position: relative;

        //     .logo {
        //         width: 5rem;
        //         position: absolute;
        //         left: 2.5rem;

        //         img {
        //             width: 100%;
        //         }
        //     }

        //     .open-close {
        //         position: absolute;
        //         right: 2.5rem;
        //         width: 5rem;
        //         color: var(--light-text);
        //         font-size: 3rem;

        //         .close {
        //             display: none;
        //         }
        //     }
        // }
//     }

// }
