/******************** HOMEPAGE ********************/
#homepage {
  width: 100vw;
}
#homepage #intro {
  border-left: 0.5px solid var(--shadow-line-b);
  border-right: 0.5px solid var(--shadow-line-b);
}
#homepage #intro #intro-msg {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  position: relative;
}
#homepage #intro #intro-msg > h2 {
  position: absolute;
  top: 50%;
  font-size: 1rem;
  font-weight: bolder;
  color: var(--color-secondary);
}
#homepage #intro #intro-msg img {
  width: 100%;
}
#homepage #intro #intro-msg img.sunsetImg {
  display: none;
}
#homepage #about-us {
  background-color: var(--color-primary);
  position: relative;
  z-index: 3;
  border-left: 0.5px solid var(--shadow-line-b);
  border-right: 0.5px solid var(--shadow-line-b);
  line-height: 1.6;
  margin-top: 2rem;
}
#homepage #about-us #about-us-cont {
  position: relative;
  z-index: 3;
}
#homepage #about-us #about-us-cont #about-us-intro {
  width: 100%;
  min-height: 50rem;
  margin: 0;
}
#homepage #about-us #about-us-cont #about-us-intro .description {
  width: 100%;
  height: 100%;
  color: var(--light-text);
  flex-direction: column;
}
#homepage #about-us #about-us-cont #about-us-intro .description .description-cont {
  width: 85%;
  height: 65%;
  flex-direction: column;
  justify-content: space-around;
}
#homepage #about-us #about-us-cont #about-us-intro .description .description-cont h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 15%;
  text-align: left;
}
#homepage #about-us #about-us-cont #about-us-intro .description .description-cont h3 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 15%;
  text-align: left;
}
#homepage #about-us #about-us-cont #about-us-intro .description .description-cont p {
  font-size: 1rem;
  width: 100%;
  height: 70%;
  text-align: left;
  margin-bottom: 2rem;
}
#homepage #about-us #about-us-cont #about-us-more {
  min-height: 50rem;
  flex-direction: column;
  background-color: var(--color-primary);
  padding: 1rem;
}
#homepage #about-us #about-us-cont #about-us-more h3 {
  font-size: 1.25rem;
  color: var(--color-secondary);
  margin: 2rem 0 4rem 0;
  text-align: center;
}
#homepage #about-us #about-us-cont #about-us-more #moments-cont {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#homepage #about-us #about-us-cont #about-us-more #moments-cont #moments {
  height: 100%;
  margin-bottom: 1rem;
}
#homepage #about-us #about-us-cont #about-us-more #moments-cont #moments .moment {
  min-width: 15rem;
  height: 22rem;
}
#homepage #about-us #about-us-cont #about-us-more #moments-cont #moments .moment img {
  width: 90%;
  height: 80%;
}
#homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #prevBtn, #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #nextBtn {
  position: absolute;
  font-size: 2.75rem;
  color: var(--light-text);
  height: 85%;
  width: 6rem;
}
#homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #nextBtn {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(to left, rgba(173, 216, 230, 0.2) 0%, transparent 70%);
}
#homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #nextBtn i {
  margin-right: 1rem;
}
#homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #prevBtn {
  left: 0;
  justify-content: flex-start;
  background: linear-gradient(to right, rgba(173, 216, 230, 0.2) 0%, transparent 70%);
}
#homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #prevBtn i {
  margin-left: 1rem;
}

@media only screen and (min-width: 768px) { /* 48rem */
  #homepage #intro #intro-msg > h2 {
    font-size: 2rem;
  }
  #homepage #about-us #about-us-cont #about-us-intro .description .description-cont h1 {
    font-size: 2.5rem;
  }
  #homepage #about-us #about-us-cont #about-us-intro .description .description-cont h3 {
    font-size: 1.75rem;
  }
  #homepage #about-us #about-us-cont #about-us-intro .description .description-cont p {
    font-size: 1.35rem;
  }
  #homepage #about-us #about-us-cont #about-us-more h3 {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1200px) { /* 75rem */
  #homepage {
    width: 75rem;
  }
  #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments .moment {
    min-width: 20rem;
    height: 27rem;
  }
  #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #prevBtn, #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #nextBtn {
    font-size: 3.5rem;
    width: 15rem;
  }
  #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #prevBtn:hover, #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #nextBtn:hover {
    cursor: pointer;
  }
  #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #prevBtn:hover i, #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #nextBtn:hover i {
    color: rgba(229, 0, 61, 0.5215686275);
  }
  #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #nextBtn:hover {
    background: linear-gradient(to left, rgba(173, 216, 230, 0.3) 0%, transparent 70%);
  }
  #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #nextBtn i {
    margin-right: 2rem;
  }
  #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #prevBtn:hover {
    background: linear-gradient(to right, rgba(173, 216, 230, 0.3) 0%, transparent 70%);
  }
  #homepage #about-us #about-us-cont #about-us-more #moments-cont #moments #momentDisplay2 #prevBtn i {
    margin-left: 2rem;
  }
}