#event-cont {
  width: 100vw;
  min-height: 48rem;
  padding: 0.75rem;
  color: var(--light-text);
  background-color: var(--color-primary);
  margin-top: 2rem;
}
#event-cont #event-summary {
  min-height: 10rem;
  margin-bottom: 2rem;
}
#event-cont #event-summary > * {
  padding: 0.5rem;
  justify-content: flex-start;
}
#event-cont #event-summary > * .label {
  width: -moz-fit-content;
  width: fit-content;
  height: 2rem;
}
#event-cont #event-summary #title {
  height: 3rem;
  color: var(--color-secondary);
  margin-bottom: 1.5rem;
}
#event-cont #event-summary #datetime-cont {
  height: 2rem;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}
#event-cont #event-summary #datetime-cont #datetime {
  height: 2rem;
  text-wrap: wrap;
  margin-left: 0.25rem;
  font-style: italic;
}
#event-cont #event-summary #datetime-cont #datetime #date {
  margin-right: 0.5rem;
}
#event-cont #event-summary #datetime-cont #datetime #from-time {
  margin-right: 2px;
}
#event-cont #event-summary #datetime-cont #datetime #to-time {
  margin-left: 2px;
}
#event-cont #event-summary #location-cont {
  height: 2rem;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.25rem;
}
#event-cont #event-summary #location-cont #location {
  height: 2rem;
  text-wrap: wrap;
  margin-left: 0.25rem;
}
#event-cont #event-summary #website-cont {
  height: 2rem;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.25rem;
}
#event-cont #event-summary #website-cont #website {
  text-wrap: wrap;
  margin-left: 0.25rem;
  height: 2rem;
}
#event-cont #event-more {
  display: flex;
  width: 100%;
  min-height: 35rem;
  flex-direction: column;
}
#event-cont #event-more #thumb {
  width: 100%;
  height: 100%;
}
#event-cont #event-more #thumb img {
  max-width: 100%;
  height: auto;
}
#event-cont #event-more #event-description {
  width: 100%;
  min-height: 15rem;
  padding: 1rem 0.75rem;
  margin-top: 2rem;
  overflow: scroll;
}
#event-cont #event-more #event-description #description {
  font-size: 1rem;
}
#event-cont #contacts {
  min-height: 3rem;
  margin-top: 2rem;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
}

@media only screen and (min-width: 760px) {
  #event-cont #event-more #thumb img {
    max-width: 65%;
  }
}
@media only screen and (min-width: 1200px) { /* 75rem */
  #event-cont {
    width: 75rem;
    padding: 1rem;
  }
  #event-cont #event-summary > * {
    padding: 1.5rem;
  }
  #event-cont #event-summary #datetime-cont {
    font-size: 1.1rem;
  }
  #event-cont #event-summary #location-cont {
    font-size: 1.1rem;
  }
  #event-cont #event-summary #website-cont {
    font-size: 1.1rem;
  }
  #event-cont #event-more {
    margin-top: 5rem;
  }
  #event-cont #event-more #thumb img {
    max-width: 50%;
  }
  #event-cont #event-more #event-description #description {
    width: 80%;
    font-size: 1.1rem;
  }
  #event-cont #contacts {
    margin-top: 4rem;
    flex-direction: row;
  }
  #event-cont #contacts #phone {
    margin-right: 5rem;
    margin-left: 1rem;
  }
}