
#eventInfoForm {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-y);
    
    > h1 {
        margin-top: 2rem;
    }

    #inputs {
        width: 100%;
        flex-direction: column;

        > p {
            width: 90%;
            flex-direction: column;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            margin-bottom: 0.5rem;
            padding: 0.5rem 0.75rem;
            label {
                display: block;
                font-size: 1.1rem;
                align-self: flex-start;
            }

            input, textarea {
                width: 100%;
                border-radius: 0.5rem;
                padding-left: 0.5rem;
                border: none;
                outline: none;
            }

            input {
                height: 2.5rem;
            }

            textarea {
                height: 20rem;
                padding-top: 0.5rem;
            }

        }
    }

    #submit {

        margin-bottom: 2rem;

        button {
            width: 10rem;
            height: 2.5rem;
            border-radius: 0.5rem;
            font-size: 1.1rem;
        }
    }
}


@media only screen and (min-width: 768px) {
    #eventInfoForm {
        #inputs {
            >p {
                width: 70%;
            }
        }

        #submit {
            button {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #eventInfoForm {
        width: 75rem;
        border-left: 0.5px solid var(--shadow-line-b);
		border-right: 0.5px solid var(--shadow-line-b);
        #inputs {
            >p {
                width: 70%;

                label {
                    font-size: 1.3rem;
                }

                input, textarea {
                    font-size: 1.1rem;
                }
            }
        }

        #submit {
            button {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}