

#event-cont {
    width: 100vw;
    padding: 0.75rem;
    border-left: 0.5px solid var(--shadow-line-b);
	border-right: 0.5px solid var(--shadow-line-b);
    background-color: var(--white-y);
    flex-direction: column;

    #event-details{
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;

        > h1 {
            margin: 1.75rem 0;
        }

        > div {
            width: 100%;
            font-size: 0.9rem;
            
            > div {
                width: 70%;
                line-height: 1.6;

                > span {

                    > a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    
    #event-info {
        width: 100%;
        flex-direction: column;
        margin-bottom: 2rem;
        font-size: 0.9rem;

        img {
            width: 100%;
            padding: 1rem;
        }

        #description {
            white-space: pre-line;
            padding: 1rem;
            width: 90%;
        }
    }

    #event-contacts {
        height: 2rem;
        width: 100%;
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }
}
    

@media only screen and (min-width: 760px ) {

}


@media only screen and (min-width: 1200px) {/* 75rem */ 


    #event-cont {
        width: 75rem;
        padding: 2rem;

        #event-details {

            > div {
                font-size: 1.1rem;

                > div {
                    width: 80%;
                }
            }
        }

        #event-info {
            font-size: 1.1rem;

            img {
                width: 70%;

                margin: 2rem 0;
                padding: 2rem;
            }

            #description {
                white-space: pre-line;
                padding: 2rem;
                width: 85%;
            }
        }

        #event-contacts {
            font-size: 1.1rem;
        }
    }
}