
/******************** footer ********************/

footer {
	padding: 1rem;
	min-height: 20rem;
	background-color: var(--white);
	color: var(--black);
	position: relative;
	z-index: 3;
	width: 100vw;
	border-top: 0.5px solid var(--shadow-line-w);
	border-left: 0.5px solid var(--shadow-line-b);
	border-right: 0.5px solid var(--shadow-line-b);

	#footer-navs {
		width: 100%;
		min-height: 3rem;
		justify-content: space-between;
		margin-top: 1rem;
		margin-bottom: 3rem;

		#apps {
			height: 100%;
			column-gap: 1rem;
			margin-left: 1rem;

			.download {
				background-color: bg1;
				text-decoration: none;
				color: var(--black);

				i {
					font-size: 2rem;
					margin-right: 1rem;
				}
				
				> div {
					display: none;

					p {
						font-size: 0.8rem;
					}

					h3 {
						font-size: 1rem;
					}
				}
			}

		}

		#socials {
			height: 100%;
			margin-right: 1rem;
			column-gap: 1rem;

			a {
				font-size: 2rem;
				text-decoration: none;
				color: var(--black);
			}
		}
	}

	#footer-menus {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		width: 100%;
		min-height: 10rem;
		margin-bottom: 2rem;
		justify-items: center;

		.menu {
			padding: 0.5rem;
			min-height: 80%;
			width: 20rem;
			margin: 0.5rem;
			
			.menu-name {
				border-bottom: 1px solid var(--light-text);
				padding: .5rem;
				margin-bottom: 1rem;
				width: 100%;
				
				h3 {
					font-size: 0.9rem;
					color: var(--black);
				}
			}

			.options {

				.option {
					margin-bottom: 0.75rem;
					padding-left: 0.25rem;
					min-height: fit-content;

					p {
						font-size: 0.9rem;				
					}
				}
			}
		}
	}

	#footer-info {
		width: 100%;
		min-height: 3rem;
		padding: 1rem;
		text-decoration: none;
		flex-direction: column;

		// logo
		.logo {
			width: 5rem;
			height: 5rem;
			margin-right: 2rem;

			img {
				width: 100%;
			}
		}

		#details {

			ul {
				flex-direction: column;

				li {
					padding: 0.25rem 0.75rem;
					text-align: center;
					margin-bottom: 0.25rem;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) { /* 48rem */ 
	footer {
		padding: 2rem;

		#footer-navs {
			#apps {
				.download {

					border: 0.5px solid var(--light-text);
					border-radius: 1rem;
					padding: 0.5rem 0.75rem;

					&:hover {
						cursor: pointer;
						color: var(--color-primary);
						border: 0.5px solid var(--color-primary);
					}

					> div {
						display: block;
					}
				}
			}

			#socials {
				column-gap: 2rem;
			}
		}
	}
}

@media only screen and (min-width: 1200px) { /* 75rem */

	footer {
		width: 75rem;

		#footer-navs {

			#apps {

				.download {
					// 
				}
			}

			#socials {

				a {
					&:hover {
						cursor: pointer;
						color: var(--color-primary);
					}
				}
			}
		}

		#footer-menus {

			.menu {

				.menu-name {

					h3 {

						&:hover {
							cursor: pointer;
						}
					}
				}

				.options {

					.option {

						p {

							&:hover {
								cursor: pointer;
								color: var(--color-primary);
							}
						}
					}
				}
			}
		}

		#footer-info {

			.logo {

				&:hover {
					cursor: pointer;
				}
			}

			// #details {}
		}
	}

}
