

/********************************* styles  *********************************/

// pop up
#welcome-pop-up {
	// display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 6;

	#pop-up-msg {
		position: relative;
		width: 90%;
		min-height: 35rem;
		background-color: var(--white-y);
		flex-direction: column;
		color: var(--black);
		padding: 1rem;
		border: 0.5px solid var(--black);
		border-radius: 0.5rem;

		.close {
			position: absolute;
			top: 0.7rem;
			right: 1rem;
			font-size: 1.75rem;

			& :hover {
				cursor: pointer;
				color: var(--color-primary);
			}
		}

		img {
			width: 5rem;
			height: 5rem;
			margin-bottom: 2rem;
		}

		#msg-text {
			text-align: center;
			flex-direction: column;
			margin-bottom: 2.5rem;

			h1 {
				margin-bottom: 1rem;
				font-size: 1.75rem;
				color: var(--color-primary);
			}

			h2 {
				margin-bottom: 1rem;
				font-size: 1.25rem;
				color: var(--color-primary);
			}
	
			p {
				width: 80%;
				font-size: 1rem;
				line-height: 1.3;
				font-weight: 300;
			}
		}	

		.donate-btn {
			border: 0.5px solid var(--black);
			padding: 0.2rem 0.7rem;
			border-radius: 1rem;
			text-decoration: none;
			color: var(--light-text);
			
			&:hover {
				cursor: pointer;
				color: var(--color-primary);
				border: 0.5px solid var(--color-primary);
			}

			> i {
				margin-left: 0.5rem;
			}

		}
	}
}

@media only screen and (min-width: 768px) { /* 48rem */ 

	#welcome-pop-up {

		#pop-up-msg {
			width: 45rem;

			#msg-text {

				h1 {
					font-size: 2rem;
				}

				h2 {
					font-size: 1.6rem;
				}

				p {
					font-size: 1.2rem;
				}
			}
		}
	}
}








