
#aboutUs-cont {
    width: 100vw;
    padding: 0.5rem;
    margin: 2rem 0;

    #aboutUs {
        padding: 1rem;
        margin-bottom: 1rem;

        > div {

            flex-direction: column;
            margin-bottom: 2rem;

            > h1 {
                text-align: center;
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            img {
                max-width: 90%;
                object-fit: scale-down;
                border: none;
                border-radius: 0.5rem;
            }
        }
    
        > h2 {
            font-size: 1.15rem;
            font-weight: 700;
            margin: 1rem 0 3rem 0;
            height: 4rem;
            font-style: italic;
            color: var(--color-primary);
            text-align: center;
            
        }
    
        > p {
            font-size: 1rem;
            line-height: 1.4;
            color: var(--light-text);

            > span {
                font-style: italic;
                color: var(--color-primary);
                font-weight: 600;
            }
        }
    }
}



@media only screen and (min-width: 768px) {

    #aboutUs-cont {
        width: 75rem;
        padding: 2rem 1.5rem;
        min-height: 40rem;

        #aboutUs {
            padding: 2rem;
            width: 90%;
            > p {
                line-height: 1.6;
            }
        }
    }
}


@media only screen and (min-width: 1200px) {

    // 
    #aboutUs-cont {
        border-left: 0.1px solid rgba(170, 170, 170, 0.2);
        	border-right: 0.1px solid rgba(170, 170, 170, 0.2);
        width: 75rem;
    }
}