
#eventInfoForm {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
    border-radius: 0.5rem;

    > h1 {
        margin: 2rem 0;
        color: var(--color-primary);
    }

    #inputs {
        color: var(--textColor2);
        width: 100%;
        flex-direction: column;

        > p {
            width: 90%;
            flex-direction: column;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            margin-bottom: 0.5rem;
            padding: 0.5rem 0.75rem;

            label {
                display: block;
                font-size: 1.1rem;
                align-self: flex-start;
                margin-bottom: 0.5rem;
            }

            input, textarea, select {
                width: 100%;
                border-radius: 0.5rem;
                padding-left: 0.5rem;
                border: none;
                outline: 1px solid var(--textColor2);
                background-color: var(--white);
            }

            input, select {
                height: 2.5rem;
            }

            textarea {
                height: 20rem;
                padding-top: 0.5rem;
            }

            input[type="file"] {
                padding-top: 0.5rem;
            }

        }
    }

    #submit {

        margin-bottom: 2rem;

        button {
            width: 10rem;
            height: 2.5rem;
            border-radius: 0.5rem;
            font-size: 1.1rem;
            background-color: var(--color-primary);
            color: var(--white-y);
        }
    }
}


@media only screen and (min-width: 768px) {
    #eventInfoForm {
        #inputs {
            >p {
                width: 70%;
            }
        }

        #submit {
            button {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #eventInfoForm {
        width: 75rem;
        border-left: 0.1px solid rgba(170, 170, 170, 0.2);
        border-right: 0.1px solid rgba(170, 170, 170, 0.2);

        #inputs {
            >p {
                width: 70%;

                label {
                    font-size: 1.3rem;
                }

                input, textarea, select {
                    font-size: 1.1rem;
                }
            }
        }

        #submit {
            button {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}